/*
 * Banda ferdamana
 * Come see our show while you are at it
 */
body {
  background-image:url('../img/background.png');
  background-repeat: repeat;
  font-family: "Comic Sans","Comic Sans MS","Chalkboard","ChalkboardSE-Regular","Marker Felt","Purisa","URW Chancery L",cursive,sans-serif;
}
header {
  background-image:url('../img/stars.gif');
  background-repeat: repeat;
  border: 1px solid #b6b2a3;
  margin: 10px auto;
  padding: 20px;
  width: 80%;
}
.awards {
  margin: 20px 30px;
}
.description {
  background-image:url('../img/content-background.jpg');
  background-repeat: repeat;
  margin: 40px auto;
  padding: 30px;
  width: 90%;
}
